.description-traiteur{
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    margin: auto;
}
.description-traiteur h1{
    font-size: 3.2rem;
}
.description-traiteur p{
    margin-top: 15px;
}
.container {
  max-width: 950px;
  margin: auto;
  border-radius: 15px;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}
.form {
  display: grid;
  width: 900px;
  gap: 24px;
}
.block {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}
h2 {
  margin-bottom: 20px;
  font-size: 18px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.form-group {
  display: grid;
  gap: 6px;
}
label {
  font-size: 14px;
}
input, select, textarea {
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
.checkbox-group label {
  display: flex;
  gap: 8px;
  align-items: center;
}
.upload p {
  font-size: 12px;
  color: #6b7280;
}
.btn {
  justify-self: end;
  padding: 10px 20px;
  background: #f97316;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
