@import url(style.css);

.banier{
    background:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),
     url(images/banner-caterers.jpg) center / cover no-repeat;
    height: 300px;
    
}
body{
    background-color: #fffbea;
}
.description{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: auto;
}
.description h1{
    width: 75%;
    font-size: 3rem;
    margin-bottom: 20px;
}
.description p{
    width: 75%;
    line-height: 1.4rem;
}
.section-experience{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    gap: 15px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.filtrage{
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.filtrage label{
    display: block;
    margin-bottom: 5px;
}
.filtrage select{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
.bouton .btn-left, .btn-right{
    height: 40px;
    width: 120px;
    border-radius: 5px;
}
.bouton .btn-left{
    background-color: #d97807 ;
    border: none;
    color: #f1f1f1;
}
.bouton .btn-right{
    background-color: #fff;
    border: solid 1px #999;
    color: #555;
    margin-left: 5px;
}
.carte img{
    width: 370px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}
.carte{
    display: flex;
    width: 70%;
    height: 180px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.15);
}
.carte-text{
    padding: 0 10px;
    width: 70%;
    line-height: 1.3rem;
    font-size: 13px;
     color: #111828;
}
.carte-text .pill span{
    background-color: #f3f4f6;
    width: fit-content;
    border-radius: 15px;
    padding: 2px 5px;
}
.carte-text .bold{
    font-weight: bold;
}
.carte-text .entete, .profil{
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}
.profil button{
    background-color: #111828;
    padding: 8px 10px;
    color: #fff;
    border-radius: 8px;
    border: none;
}
.entete .jaune{
    color: #ffb300;
}
.carte img::before{
    content: "vérifié";
}
.entete .point{
    font-size: 6rem;
}